{% extends 'base.html.twig' %}

{% block title %}Mes documents réservés | MediaTehk{% endblock %}

{% block body %}
    <div class="hero is-fullheight has-background-success-light">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-12">
                    <div class="box">
                        <nav class="panel">
                            <p class="panel-heading">
                                Mes documents réservés
                            </p>
                            <div class="panel-block">
                                <p class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Rechercher un document">
                                    <span class="icon is-left">
                                        <i class="fas fa-search" aria-hidden="true"></i>
                                    </span>
                                </p>
                            </div>
                            <p class="panel-tabs">
                                <a class="is-active">Tous</a>
                                <a>Livres</a>
                                <a>CD</a>
                                <a>DVD</a>
                                <a>Revues</a>
                            </p>
                            <table class="table is-fullwidth">
                                {% if reserved is empty %}
                                <p class="m-4">Vous n'avez aucun document reservé.</p>
                                {% else %}
                                <thead>
                                <tr>
                                    <th><abbr title="Nom">Nom</abbr></th>
                                    <th><abbr title="Action">Actions</abbr></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th><abbr title="Nom">Nom</abbr></th>
                                    <th><abbr title="Action">Actions</abbr></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for document in reserved %}
                                    <tr>
                                        <td>{{ document.name }}</td>
                                        <td>
                                            <form action="{{ path('app_document_unreserve', {'id': document.id}) }}" method="post">
                                                <input type="submit" value="Delete">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


