{% extends 'base.html.twig' %}

{% block title %}Documents | MediaTehk{% endblock %}

{% block body %}
    <div class="hero is-fullheight has-background-success-light">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-12">
                    <div class="box">
                        <nav class="panel">
                            <p class="panel-heading">
                                Documents
                            </p>
                            <div class="panel-block">
                                <p class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Rechercher un document">
                                    <span class="icon is-left">
                                        <i class="fas fa-search" aria-hidden="true"></i>
                                    </span>
                                </p>
                            </div>
                            <p class="panel-tabs">
                                <a class="is-active">Tous</a>
                                <a>Livres</a>
                                <a>CD</a>
                                <a>DVD</a>
                                <a>Revues</a>
                            </p>
                            <table class="table is-fullwidth">
                                <thead>
                                <tr>
                                    <th><abbr title="Nom">Nom</abbr></th>
                                    <th><abbr title="Auteur(s)">Auteur(s)</abbr></th>
                                    <th><abbr title="Type de document">Type de document</abbr></th>
                                    <th><abbr title="Quantité">Quantité</abbr></th>
                                    <th><abbr title="Physique">Physique</abbr></th>
                                    <th><abbr title="Fragile">Fragile</abbr></th>
                                    <th><abbr title="Description">Description</abbr></th>
                                    <th><abbr title="Date">Date</abbr></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th><abbr title="Nom">Nom</abbr></th>
                                    <th><abbr title="Auteur(s)">Auteur(s)</abbr></th>
                                    <th><abbr title="Type de document">Type de document</abbr></th>
                                    <th><abbr title="Quantité">Quantité</abbr></th>
                                    <th><abbr title="Physique">Physique</abbr></th>
                                    <th><abbr title="Fragile">Fragile</abbr></th>
                                    <th><abbr title="Description">Description</abbr></th>
                                    <th><abbr title="Date">Date</abbr></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                <tr>
                                    <th>Les Misérables</th>
                                    <td>
                                        <a href="https://fr.wikipedia.org/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a>
                                    </td>
                                    <td>Livre</td>
                                    <td>3</td>
                                    <td>Oui</td>
                                    <td>Non</td>
                                    <td><a href="#" class="js-modal-trigger" data-target="modal-document-description">Cliquez pour afficher</a></td>
                                    <td>1862</td>
                                </tr>
                                </tbody>
                            </table>
                        </nav>
                        <nav class="pagination" role="navigation" aria-label="pagination">
                            <a class="pagination-previous">Précédent</a>
                            <a class="pagination-next">Page suivante</a>
                            <ul class="pagination-list">
                                <li>
                                    <a class="pagination-link" aria-label="Goto page 1">1</a>
                                </li>
                                <li>
                                    <span class="pagination-ellipsis">&hellip;</span>
                                </li>
                                <li>
                                    <a class="pagination-link" aria-label="Goto page 45">45</a>
                                </li>
                                <li>
                                    <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                                </li>
                                <li>
                                    <a class="pagination-link" aria-label="Goto page 47">47</a>
                                </li>
                                <li>
                                    <span class="pagination-ellipsis">&hellip;</span>
                                </li>
                                <li>
                                    <a class="pagination-link" aria-label="Goto page 86">86</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-document-description" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Les Misérables de Victor Hugo</p>
        </header>
        <section class="modal-card-body">
            <p>Jean Valjean a été condamné au bagne en 1795 pour le vol d'un pain, jugement qui symbolise l'oppression qu'impose une société injuste à une population écrasée ; L'Inspecteur Javert, policier, incarne l'intransigeance de la société bourgeoise. Pas de rémission pour un ancien forçat, pas de grâce pour Valjean.</p>
        </section>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
{% endblock %}
