<section class="section features">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <div class="box"><img
                            src="{{ asset('build/images/quote.png') }}">
                    <h3>Dites ce que vous pensez</h3>
                    <p class="body2">Partagez gratuitement vos avis, échangez avec d'autres utilisateurs sur des oeuvres et partagez votre expérience avec ces dernières.</p></div>
            </div>
            <div class="column is-half has-text-centered">
                <div class="box"><img
                            src="{{ asset('build/images/videocall.png') }}">
                    <h3>Organisez des rencontres</h3>
                    <p class="body2">Passez des appels voix ou vidéo cristallins avec des artistes qui vous plaisent, ou encore rencontrez-les lors d'une séance dédicace.</p></div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <div class="box"><img
                            src="{{ asset('build/images/book.png') }}">
                    <h3>Votre expérience importe</h3>
                    <p class="body2">Recevez des recommandations personnalisées en fonction de vos goûts et de vos envies du moment. Laissez-vous tenter.</p></div>
            </div>
            <div class="column is-half has-text-centered">
                <div class="box"><img
                            src="{{ asset('build/images/history.png') }}">
                    <h3>Un historique 100% transparent</h3>
                    <p class="body2">Gardez une trace de toutes vos interactions avec notre plateforme: emprunts, demandes, rencontres.. accessible à tout moment depuis votre espace personnel.</p></div>
            </div>
        </div>
    </div>
</section>
