<section class="section information">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column"><img
                        src="{{ asset('build/images/no-ads.png') }}">
            </div>
            <div class="column is-one-third"><h2>Aucune publicité, aucun traqueur, vraiment.</h2>
                <p class="body1"> Avec MediaTehk, il n’y a aucune publicité, aucun mercaticien partenaire, ni aucun suivi
                    inquiétant.</p></div>
        </div>
    </div>
</section>
