<section class="hero-main hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-two-fifths"><h1>Faites-nous confiance</h1>
                    <p class="body1">Dites «&nbsp;Bonjour&nbsp;» à une expérience de médiathèque innovante. Un accent
                        inattendu sur la confidentialité et la protection des données personnelles, combiné à toutes les
                        fonctions auxquelles vous vous attendez.</p>
                    <p><br> <a class="button button-white" href="/register/">C'est parti </a></p></div>
                <div class="column book-mockup">
                    <img src="{{ asset('build/images/book-mockup.png') }}">
                </div>
            </div>
        </div>
    </div>
</section>
