<section class="quotes section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="columns">
                    <div class="column is-2"><img
                                src="https://signal.org/assets/testimonials/snowden-e54d914f15e0becb358d375451978bbb5a307d12a6b91b49cdc1031fd062a0b8.jpg">
                    </div>
                    <div class="column">
                        <blockquote> "J’utilise MediaTehk tous les jours."</blockquote>
                        <p><strong>Nicolas Lambert</strong> <br> Lecteur aguerri</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-2"><img
                                src="https://signal.org/assets/testimonials/dorsey-f2c53cc9287633aac7c8ccfbc2a97902ae3b78edc409073a968e7090240cd593.jpg">
                    </div>
                    <div class="column">
                        <blockquote> "Je fais confiance à MediaTehk parce que c’est bien conçu, mais surtout en raison
                            de la façon dont c’est construit. Un modèle rafraîchissant de la manière
                            dont les services essentiels devraient être construits."
                        </blockquote>
                        <p><strong>Ivan Hébert</strong> <br> Incubateur de savoir</p></div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="columns">
                    <div class="column is-2"><img
                                src="https://signal.org/assets/testimonials/poitras-e8c538d3efb17cffba9fe675b291d7787c9a70cf4ae06ba836e852b26b3c1b13.jpg">
                    </div>
                    <div class="column">
                        <blockquote> "MediaTehk est l’outil de médiathèque le plus évolutif jamais conçu. J’encourage tout le monde à l’utiliser tous les
                            jours."
                        </blockquote>
                        <p><strong>Élodie Chevalier</strong> <br> Indétrônable lectrice de romans</p></div>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-2"><img
                                src="https://signal.org/assets/testimonials/schneier-c24b9a5a1aebd05202b96f20b20357dd0e121f73de06fecb10653a6f778a2680.jpg">
                    </div>
                    <div class="column">
                        <blockquote> "Je suis impressionné par la réflexion et le soin apportés à la
                            simplicité et la convivialité de cette application."
                        </blockquote>
                        <p><strong>Hugo Hébert</strong> <br> Passionné de technologie
                        </p></div>
                </div>
            </div>
        </div>
    </div>
</section>