{% extends 'admin/base.html.twig' %}

{% block title %}Consulter un utilisateur | Administration MediaTehk{% endblock %}

{% block body %}
<nav class="panel">
    <p class="panel-heading">Profil de l'utilisateur</p>

    <table class="table is-fullwidth">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ member.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ member.email }}</td>
            </tr>
        </tbody>
    </table>
</nav>

{{ include('member/_delete_form.html.twig') }}
{% endblock %}
