<!DOCTYPE html>
<html lang="en">
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="{{ path('app_home') }}" class="navbar-item" href="#">
      <img src="{{ asset('build/images/logo-w.png') }}" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start"></div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="nav-item is-tab" href="/home">
          <span class="icon"><i class="fa fa-sign-out"></i></span>
        </a>
      </div>
    </div>
  </div>
</nav>
</html>