/**
  * GLOBAL
-*/

a {
    color: #00D1B2;
}

/**
  * NAVBAR
-*/

.navbar {
    background-color: #00D1B2;
}

.navbar-item .icon {
    color: white;
}

.navbar-item .icon:hover {
    color: #4a4a4a;
}

.menu-label {
    font-weight: 800;
}

.menu-list a:hover {
   color: #00D1B2;
}
.menu-list a.is-active {
    background-color: #00D1B2;
}

.section {
    padding: 0;
}

@media screen and (min-width: 1024px) {
    .section {
        padding-top: 2em;
        padding-left: 2em;
    }
}

.container {
    padding-top: 2em;
}

/**
  * PAGINATION
-*/

.pagination-link.is-current {
    background-color: #00D1B2;
    border-color: #00927c;
    color: white;
}

