<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths is-hidden-mobile"><span class="copyright">© 2022 MediaTehk</span><br>
                MediaTehk est une marque déposée en France et dans les autres pays.<br> <br> Pour toute requête, écrivez à <a href="mailto:contact@mediatehk.org">contact@mediatehk.fr</a></div>
            <div class="column"><strong>Company</strong>
                <ul>
                    <li><a href="/donate">Faire une donation</a></li>
                    <li><a href="/blog">CGU</a></li>
                    <li><a href="/legal">Politique de confidentialité</a></li>
                </ul>
            </div>
            <div class="column"><strong>Social</strong>
                <ul>
                    <li><a href="https://github.com/jeremyv83/mediatheque_3wa" target="_blank">GitHub</a></li>
                    <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                </ul>
            </div>
            <div class="column"><strong>Aide</strong>
                <ul>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="column is-two-fifths is-hidden-tablet"><span class="copyright">© 2022 MediaTehk</span><br>
                MediaTehk est une marque déposée en France et dans les autres pays.<br> <br> Pour toute requête, écrivez à <a href="mailto:contact@mediatehk.org">contact@mediatehk.fr</a></div>
        </div>
    </div>
</footer>