{% extends 'admin/base.html.twig' %}

{% block title %}Créer un document | Administration MediaTehk{% endblock %}

{% block body %}
<nav class="panel">
    <p class="panel-heading">Créer un document</p>

    {{ include('document/_form.html.twig') }}
</nav>
{% endblock %}
